In [ ]:
# Weeks 5 and 6
## Justin Wisniewski

In [ ]:
# Activity 7

In [ ]:
import requests
import pandas as pd
import xlrd
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 1. Open the page in a separate Chrome/Firefox tab and use something like an
	# Inspect Element tool to view the source HTML and understand its structure
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

In [ ]:
# Downloading contents of the web page
data = requests.get(url).text

In [ ]:
# Creating BeautifulSoup object
soup = BeautifulSoup(data, 'html.parser')

In [ ]:
tables = soup.find('table', class_='wikitable')

In [ ]:
# How many tables are there
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

In [ ]:
# 4. Find the right table using bs4
df = pd.read_html(str(tables))

In [ ]:
dft = df[0]
dft

In [ ]:
# 5. Separate the source names and their corresponding data
# 6. Get the source names from the list of sources you have created
# 7. Separate the header and data from the data that you separated before for the first
	# source only, and then create a DataFrame using that
subsetdfIMF = dft[['Country/Territory', 'UN Region', 'IMF[1][13]']]
subsetdfIMF

In [ ]:
# 8. Repeat the last task for the other two data sources
subsetdfUN = dft[['Country/Territory', 'UN Region', 'United Nations[14]']]
subsetdfUN

In [ ]:
# 8. Repeat the last task for the other two data sources
subsetdfWB = dft[['Country/Territory', 'UN Region', 'World Bank[15]']]
subsetdfWB

In [ ]:
# Activity 8

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
df = pd.read_csv("visit_data.csv")

In [ ]:
df.head()

In [ ]:
# Are there any duplicates
print("First name is duplictaed - {}".format(any(df.first_name.duplicated())))
print("Last name is duplictaed - {}".format(any(df.last_name.duplicated())))
print("Email is duplictaed - {}".format(any(df.email.duplicated())))

In [ ]:
# Do any essential column have NaN
print("The column Email contains NaN - %r " % df.email.isnull().values.any())
print("The column IP Address contains NaN - %s " % df.ip_address.isnull().values.any())
print("The column Visit contains NaN - %s " % df.visit.isnull().values.any())

In [ ]:
# Store the previous size of the data set and compare it with the new size
size_prev = df.shape
df = df[np.isfinite(df['visit'])] # This is an inplace operation. After this operation the original DataFrame is lost.
size_after = df.shape

In [ ]:
# Notice how parameterized format is used and then the indexing is working inside the quote marks
print("The size of previous data was - {prev[0]} rows and the size of the new one is - {after[0]} rows".
      format(prev=size_prev, after=size_after))

In [ ]:
plt.boxplot(df.visit, notch=True)

In [ ]:
df1 = df[(df['visit'] <= 2900) & (df['visit'] >= 100)]  # Notice the powerful & operator

In [ ]:
# New data size
print("After getting rid of outliers the new size of the data is - {}".format(*df1.shape))

In [ ]:
# Insert data into a SQL Lite database - create a table with the following data

In [22]:
import sqlite3
conn = sqlite3.connect('database.db')
c = conn.cursor()
c.execute('''CREATE TABLE JbyWiz
(Name, Address, City)''')
c.execute("INSERT INTO JbyWiz VALUES ('Justin',12345)")
c.execute("INSERT INTO JbyWiz VALUES ('Bill',6789)")
c.execute("INSERT INTO JbyWiz VALUES ('Frank',654)")
conn.commit()
conn.close()

OperationalError: table JbyWiz already exists

In [21]:
import sqlite3
conn = sqlite3.connect('database.db')
c = conn.cursor()
c.execute('SELECT Name, Address FROM JbyWiz')
result = c.fetchall()
print(result)
conn.close()

[('Justin', 12345), ('Bill', 6789), ('Frank', 654)]